@model Client
@{
    ViewData["Title"] = Localizer["Header"];
}

@section Navigation {
    @{
        await Html.RenderPartialAsync("Navigation");
    }
}

<h1>@Localizer["Header"]</h1>

<dl>
    <dt>@Localizer["Name"]</dt>
    <dd>@Model.Name</dd>
    
    <dt>@Localizer["Surename"]</dt>
    <dd>@Model.Surename</dd>
</dl>

@if(ViewBag.Session != "admin")
{
    <div>
        <form method="post" asp-action="Remove">
            <button>@Localizer["Remove"]</button>

            <input type="hidden" asp-for="Id" value="@Model.Id"/>
            <input type="hidden" asp-for="Password" value="@Model.Password"/>
        </form>   
    </div>

    <br />
    
    <div >
        <form method="get" asp-action="ShowAccountUpdate">
            <button>@Localizer["Update"]</button>
        
            <input type="hidden" asp-for="Id" value="@Model.Id"/><br />
            <input type="hidden" asp-for="Name" value="@Model.Name"/>
            <input type="hidden" asp-for="Surename" value="@Model.Surename"/>
            <input type="hidden" asp-for="Password" value="@Model.Password"/>
        </form>  
    </div>
}
