@model IEnumerable<Quest>
@{
    ViewData["Title"] = Localizer["Header"];
}

@section Navigation {
    @{
        await Html.RenderPartialAsync("Navigation");
    }
}

<h1>@Localizer["Header"]</h1>

<ul class="ulList">
    @foreach(var item in Model)
    {
        <li class="liList">
            <img width=200 height=150 src=@item.Photo alt="Photo"/>
            <p class="describe">@item.Name</p>
            <p class="describe">@Localizer["MinPlayers"]: @item.MinPalyers</p>
            <p class="describe">@Localizer["MaxPlayers"]: @item.MaxPalyers</p>
            <p class="describe">...</p>

            @if (ViewBag.Session != "admin")
            {
                <div class="center">
                    <form method="get" asp-controller="ShowQuest" asp-action="ShowQuest">
                        <button name="name" value=@item.Name>@Localizer["ReadMore"]</button>
                    </form>
                </div>
            }
            @if (ViewBag.Session == "admin")
            {
                <div class="center">
                    <form method="get" asp-controller="WorkWithQuest" asp-action="RemoveView">
                        <button name="name" value=@item.Name>@Localizer["RemoveQuest"]</button>
                    </form>
                </div>
                
                <br />

                <div class="center">
                    <form method="get" asp-controller="WorkWithQuest" asp-action="UpdateView">
                        <button name="name" value=@item.Name>@Localizer["UpdateQuest"]</button>
                    </form>
                </div>
            }
        </li>
    }
</ul>

