@model Quest
@{
    ViewData["Title"] = @Localizer["Header"];
}

@section Navigation {
    @{
        await Html.RenderPartialAsync("Navigation");
    }
}

<h1>@ViewData["Title"]</h1>

<form method="post" asp-action="Create">
    <input type="text" asp-for="Name" placeholder="@Localizer["Name"]"/><br />
    <span asp-validation-for="Name"></span><br />

    <input type="text" asp-for="Photo" placeholder="@Localizer["Photo"]"/><br />
    <span asp-validation-for="Photo"></span><br />

    <input type="number" asp-for="MinPalyers" placeholder="@Localizer["MinPlayers"]"/><br />
    <span asp-validation-for="MinPalyers"></span><br />

    <input type="number" asp-for="MaxPalyers" placeholder="@Localizer["MaxPlayers"]"/><br />
    <span asp-validation-for="MaxPalyers"></span><br />

    <input type="text" asp-for="Time" placeholder="@Localizer["Time"]"/><br />
    <span asp-validation-for="Time"></span><br />

    <input type="number" asp-for="Rating" placeholder="@Localizer["Rating"]"/><br />
    <span asp-validation-for="Rating"></span><br />

    <input type="submit" value="@Localizer["Button"]" /><br /><br />
</form>

<div>
    @if(ViewBag.Message != null)
    {
        <p>@ViewBag.Message</p>
    }
</div>

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

