@model Quest
@{
    ViewData["Title"] = @Localizer["Header"];
}

@section Navigation {
    @{
        await Html.RenderPartialAsync("Navigation");
    }
}

<h1>@ViewData["Title"]</h1>

<form method="post" asp-action="Update">
    <input type="text" asp-for="Name" value="@Model.Name" placeholder="@Localizer["Name"]"/><br />
    <span asp-validation-for="Name"></span><br />

    <input type="text" asp-for="Photo" value="@Model.Photo" placeholder="@Localizer["Photo"]"/><br />
    <span asp-validation-for="Photo"></span><br />

    <input type="number" asp-for="MinPalyers" value="@Model.MinPalyers" placeholder="@Localizer["MinPlayers"]"/><br />
    <span asp-validation-for="MinPalyers"></span><br />

    <input type="number" asp-for="MaxPalyers" value="@Model.MaxPalyers" placeholder="@Localizer["MaxPlayers"]"/><br />
    <span asp-validation-for="MaxPalyers"></span><br />

    <input type="text" asp-for="Time" value="@Model.Time" placeholder="@Localizer["Time"]"/><br />
    <span asp-validation-for="Time"></span><br />

    <input type="number" asp-for="Rating" value="@Model.Rating" placeholder="@Localizer["Rating"]"/><br />
    <span asp-validation-for="Rating"></span><br />

    <input type="submit" value="@Localizer["Button"]" /><br /><br />

    <input type="hidden" asp-for="Id" value="@Model.Id"/>
</form>

<div>
    @if(ViewBag.Message != null)
    {
        <p>@ViewBag.Message</p>
    }
</div>

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

